.filters-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: 'Neutra Text', sans-serif;
}

.filters-container label,
.filters-container .search-container {
  display: flex;
  align-items: center;
}

.filters-container select,
.filters-container input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #c0e3e5;
  background-color: #fff;
  color: #322625;
}

.filters-container button {
  padding: 5px 10px;
  border: 1px solid #c0e3e5;
  background-color: #fdc936;
  color: #322625;
  cursor: pointer;
  margin-left: 10px;
}